:root {
    --primery-text-color: #2c2c2c;
    --accent-text-color: #BBF330;
    --accent-btn-bg: #FFE450;
    --white-color: #FEFEFE;
   
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--primery-text-color);
}
a {
    text-decoration: none;
}
ul, ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
h1, h2, h3, p {
    margin: 0;
}
img {
    display: block;
}

.container {
    min-width: 320px;
    max-width: 428px;
    padding: 0 20px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1280px;
        padding: 0 16px;
        
    }
}

.header-container {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    gap: 28px;
}


.logo {
    margin-right: auto;
}

.nav {
    margin-right: 30px;
}


.nav-link {
    display: block;
    padding: 28px 0;
    
}

.nav-item {
    color: var(--primery-text-color);
}

.nav-item.active {
    color: var(--accent-text-color);
    text-decoration: underline;
}

.nav-item:hover, .nav-item:focus {
    color: var(--accent-text-color);
    font-weight: 700px;
    text-decoration: underlined;
}

.btn {
    color: var(--primery-text-color);
    font-size: 13px;
    font-family: inherit;
    font-weight: 500;
    line-height: 150%;
    cursor: pointer;
    background-color: var(--accent-text-color);
    padding: 6px 18px;
    border: none;
    border-radius: 30px;
}


.nav-btn:hover, .nav-btn:focus {
    background-color: var(--accent-btn-bg);
}
.hero {
    padding-top: 14px;
    padding-bottom: 15px;
}

.hero-title {
    font-size: 48px;
    line-height: 120%;
    margin-bottom: 28px;
}

.hero-text {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 46px;
}



.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--accent-btn-bg);}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text-wrap {
    max-width: 511px;

}

.offerings {}

.offerings-text-wrapper {

}

.offerings-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.container {}

.offerings-title {
    font-size: 42px;
    line-height: 120%;
    margin-bottom: 20px;
    width: 526px;
}

.offerings-text {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 40px;
    
}

.offerings-list {
    display: flex;
}

.offerings-item {}

.offerings-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: var(--white-color);
    margin-bottom: 8px;
}

.offerings-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 16px;
}

.offerings-btn {}

.btn {}

.favourites-section {
   padding: 100px 0;
}

.favourites-title {
    text-align: center;
    font-size: 42px;
    line-height: normal;
    margin-bottom: 20px;
}

.favourites-container {
  
}



.primary {}



.favourites-text {
    text-align: center;
    margin-bottom: 40px;
    line-height: normal;
    font-size: 16px;
}

.favourites-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.favourites-item {
    flex-basis: calc((100% - 64px) / 3);
}

.customers-section {
    padding-top: 100px;
}

.customers-container {}



.customers-title {
    font-size: 42px;
    line-height: normal;
    margin-bottom: 20px;
}

.customers-text {
    line-height: normal;
    margin-bottom: 32px;
}

.customers-list {
    display: flex;
    margin-bottom: 180px;
    gap: 167px;

}

.customers-item {
    width: 473px;
   
}

.customers-item-text {
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 40px;

}

.customers-img-name-container {
    display: flex;
}

.customers-img-container {
    margin-right: 16px;
}

.customers-name {
    margin-bottom: 2px;
}

.customers-name-text {}





.subscribe-section {
    background-color: #FEFEFE;
}

@media only screen and (max-width: 767.98px) {
  .subscribe-section {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 1158px) {
  .subscribe-section {
    display: flex;
    flex-direction: row-reverse;
  }
}


.subscribe-container {
    
}

.subscribe-title {
    font-size: 28px;
    width: 280px;
    color: #2C2C2C;
    font-family: Roboto;
    line-height: 1.2;
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .subscribe-title {
    font-size: 42px;
    width: 656px;
  }
}


.subscribe-text {
    /* width: 532px; */
    width: 280px;
    color: #2C2C2C;
    font-family: Roboto;
    line-height: 1.5;
    font-size: 14px;
    margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .subscribe-text {
    width: 520px;
    font-size: 16px;
    margin-bottom: 24px;
  }
}

@media only screen and (min-width: 1158px) {
    .subscribe-text {
        width: 532px;   
    }
}

@media only screen and (min-width: 768px) {
  .subscribe-form {
    display: flex;
  }
} {

}

.subscribe-label {}

.subscribe-input {
    height: 42px;
    /* min-width: 394px; */
    border-radius: 30px;
    border: 2px solid #FFE550;
    background: #FEFEFE;
    height: 42px;
    padding: 12px 57px 12px 12px;
    font-family: Roboto;
    font-size: 12px;
    line-height: 1.5;
    margin-right: 32px;
}

.subscribe-input::placeholder {
    color: #505050;

}

@media only screen and (max-width: 767.98px) {
  .subscribe-input {
    margin-bottom: 20px;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
    .subscribe-input {
        
        width: 395px;
    }
}
@media only screen and (max-width: 767.98px) {
  .btn-container {
    display: flex;
    justify-content: right;
  }
} 

.subscribe-btn {
    display: inline-flex;
    min-width: 103px;
    height: 42px;
    padding: 11px 22px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    background: #BBF330;
    color: #2C2C2C;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
   
}


@media only screen and (max-width: 767.98px) {
  .subscribe-btn {
    /* margin-left: 285px; */
  }
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #ffe450;
}

.subscribe-image {
    /* display: flex;
    width: 100%;
   height: 100%; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 17px;
}

/* @media only screen and (min-width: 768px) {
  .subscribe-image {
    
  }
} */

/* @media only screen and (min-width: 768px) {
  .subscribe-image {
    text-align: right;
    width: 608px;
    height: 266px;
  }
} */

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
    .subscribe-image {
        margin-bottom: 20px;
        
    }
}

@media only screen and (min-width: 1158px) {
  .subscribe-image {
    width: 608px;
    height: 266px;
  }
}